
  @font-face {
    font-family: 'Chakra Petch';
    src: url('/assets/fonts/ChakraPetch-Bold.ttf') format('truetype');
    font-weight: bold; font-style: normal;
  }
  @font-face {
    font-family: 'Chakra Petch';
    src: url('/assets/fonts/ChakraPetch-Regular.ttf') format('truetype');
    font-weight: normal; font-style: normal;
  }
  @font-face {
    font-family: 'Antonio';
    src: url('/assets/fonts/Antonio-VariableFont.ttf') format('truetype');
    font-weight: 100 700; font-style: normal;
  }
  @font-face {
    font-family: 'Rajdhani';
    src: url('/assets/fonts/Rajdhani-SemiBold.ttf') format('truetype');
    font-weight: 600; font-style: normal;
  }
  @font-face {
    font-family: 'Rajdhani';
    src: url('/assets/fonts/Rajdhani-Regular.ttf') format('truetype');
    font-weight: normal; font-style: normal;
  }
  @font-face {
    font-family: 'Share Tech Mono';
    src: url('/assets/fonts/ShareTechMono-Regular.ttf') format('truetype');
    font-weight: normal; font-style: normal;
  }
  @font-face {
    font-family: 'Nixie One';
    src: url('/assets/fonts/NixieOne-Regular.ttf') format('truetype');
    font-weight: normal; font-style: normal;
  }
  @font-face {
    font-family: 'IBM Plex Mono';
    src: url('/assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal; font-style: normal;
  }
